{{ define "main" }}
<div class="container">
  <div class="row">
      <aside class="col-12 col-lg-2 offset-lg-1">
        {{ partial "sidebar.html" . }}
      </aside>
      <div class="col-12 col-lg-7 offset-lg-1">
        <section class="article-list">
          {{ $posts := where .Site.RegularPages "Type" "post" }}
          {{ $paginator := .Paginate $posts }}
          
          {{ range $paginator.Pages }}
            {{ partial "articleInList.html" . }}
          {{ end }}

          {{ partial "pagination.html" (dict "paginator" $paginator) }}
      </section>
      </div>
  </div>
</div>
{{ end }}