{{ define "main" }}

<div class="container detail">
  <section class="back">
    <a class="btn btn-light btn-sm" href="/" title="Inicio">Inicio</a>
  </section>
  <section class="row">
    <div class="col-lg-8 offset-lg-2">
      <article class="article detail">
      <header>
        <h1>{{ .Title }}</h1>
        {{ with .Date}}
          {{ $dateMachine := . | time.Format "2006-01-02T15:04:05-07:00" }}
          {{ $dateHuman := . | time.Format "02-01-2006" }}
          <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        {{ end }}   
      </header>
      <section>
        {{ .Content }}
      </section>
    </article>
    </div>
  </section>
</div>

{{ end }}
